doctype html
head
  title
    | Employee login
  title1
  link(rel='stylesheet' type='text/css' href='stylesheet/styles.css') 
 
nav 
  .logo   ğ•‚ğ•‹ ğ•‹ğ•–ğ•ğ•–ğ•ğ•’ğ•¥ğ•šğ•” ğ•Šğ• ğ•ğ•¦ğ•¥ğ•šğ• ğ•Ÿğ•¤ â„™ğ•£ğ•šğ•§ğ•’ğ•¥ğ•– ğ•ƒğ•šğ•ğ•šğ•¥ğ•–ğ••
  .menu
    a(href='/') SIGN-IN
.container-fluid
  img(src='images/ktt.jpg')
  h1
    b  thank you!!!
//- .container-anil
//-   img(src='images/download.jpg')
//- .container-gokul
//-   img(src='images/download.png')
//- .container-raj
//-   img(src='images/download (2).jpg')
//- .container-kumar
//-   img(src='images/download (3).jpg')





 

  